<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test04.dao.SysRolePrivilegeMapper">
  <resultMap id="BaseResultMap" type="test04.model.SysRolePrivilege">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="privilege_id" jdbcType="BIGINT" property="privilegeId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="test04.model.SysRolePrivilege">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="privilege_id" jdbcType="BIGINT" property="privilegeId" />
  </resultMap>
</mapper>